<!DOCTYPE html>
<html>
  <head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='sass_website.css') }}">

  </head>
  <body>

    <div class = "navBar">
      <ul>
        <li style="float:left; font-size: 20px;"><a class="active" href="#Stocktracker">Stock Tracker</a></li>
        <li style="float:right"><a href="#news">News</a></li>
        <li style="float:right"><a href="#contact">Contact</a></li>
        <li style="float:right"><a href="#about">About</a></li>
      </ul>
    </div>
    <br>
    <div class = "underTitleContainer row">
      <img src ="https://via.placeholder.com/1400x300">
    </div>

    <div class = "stocksHeadline">
      <h2>Selected stocks</h2>
      <p>These 3 stocks have been chosen because they are ...</p>
    </div>

    <div class="row">
      <div class="column">
        <img src ="https://via.placeholder.com/300">
        <p>blablabla</p>
      </div>
      <div class="column">
        <img src ="https://via.placeholder.com/300">
        <p>blablabla</p>
      </div>
      <div class="column">
        <img src ="https://via.placeholder.com/300">
        <p>blablabla</p>
      </div>
    </div>
    <div class = "navBar">
      <ul>
        <li style="float:left; font-size: 25px;">External Links</li>
        <li style="float:right; font-size: 25px;">Contact Form</li>
      </ul>
    </div>
	<div class = "smallTextArea">
	<p>blablabla</p>
	</div>
  <br>
  <div class = "bigTextArea">
    <p>blablabla</p>
  </div>
    <form action="{{ url_for('display_company_name') }}" method="POST">

      <label for="ticker">Ticker:</label><br>
      <input type="text" id="ticker" name="ticker" value="Ticker"><br><br>

      <input type="submit" value="Submit">
    
    </form> 
  </body>
</html>